<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/projects">Projects</a></li>
	        		<li><a href="/blog">Blog</a></li>
              <li><a href="/resume">Resume</a><li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
          <li><a href="mailto:ateauriri@gmail.com"><img border="0" alt="email" src="https://cdn4.iconfinder.com/data/icons/miu/24/circle_social-email-outline-stroke-512.png" width="32" height="32"></a></li>
        	<li><a href="https://github.com/aouriri"><img border="0" alt="github" src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" width="32" height="32"></a></li>
          <li><a href="https://en.wikipedia.org/wiki/User:Auriri"><img border="0" alt="Wikipedia" src="http://cdn.onlinewebfonts.com/svg/img_39056.png" width="29" height="29"></a></li>
				</ul>
			</footer>
		</body>
	</html>
